################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.NET/TodoList_API/bin/*
/.NET/TodoList_API/obj/*
/.NET/TodoList_API/.vs
/.NET/eVehicle/bin/*
/.NET/eVehicle/obj/*
/.NET/eVehicle/.vs
/ENJS/demo_expressjs/node_modules
/.NET/eVehicle_Web/bin/*
/.NET/eVehicle_Web/obj/*
/.NET/eVehicle_Web/.vs/*
